extends layout

block content
    h1= title
    #posts
        - each post in posts
          article.post
            section.dateCreated = post.created_at
            section.title= post.title 
            section.text= post.text

        a(href="/post/save")!= "New Post"


block scripts