extends layout

block content
    header
        h1= title
    
    section.post_save
        form( method="post")
            div
                section
                    span.label Title :
                    input(type="text", name="title", id="postTitle")
                section
                    span.label Name :
                    input(type="text", name="text", id="postText")
                section
                    span.label City :
                    input(type="text", name="city", id="postCity")
                section
                    span.label Temperature :
                    input(type="text", name="temperature", id="postTemperature")

                input(type="hidden", name="lat", id="lat")
                input(type="hidden", name="lon", id="lon")
                input(type="hidden", name="weather", id="weather")

                div#submit
                    input(type="submit", value="Save")
        a(href="/")!= "Back to List"

block scripts
    script(type='text/javascript' , src='http://maps.googleapis.com/maps/api/js?sensor=false').
    script(type='text/javascript' , src='/javascripts/geomodule.js').
    script(type='text/javascript' , src='/javascripts/temperature.js').
    script(type='text/javascript').
        var geo = new Geo();
        var temp = new Temperature();

        $(document).ready(function(){
            geo.locate('city' , function(cityObj){
                $("#postCity").val(cityObj.short_name)
                temp.findCurrentByCity(cityObj.short_name , function(data){                    
                    alert(JSON.stringify(data));
                    $("#weather").val(JSON.stringify(data));
                });
            });

            geo.callGeoApi(function(pos){
               $("#lat").val(pos.coords.latitude);
               $("#lon").val(pos.coords.longitude);
            });            
        });
