body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}
a {
  color: #00b7ff;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}
#posts {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
#posts .post {
  margin: 20px;
}
#posts .post .dateCreated {
  display: none;
}
#posts .post .title {
  font-weight: bold;
  background-color: #eee;
}
#posts .post .text {
  background-color: #ffa;
}
.post_save {
  border: 3px;
  border-color: #000;
  border-style: dotted;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px;
}
input[type =text] {
  width: 200px;
  margin-left: 16px;
  float: left;
}
input[type =button],
input[type =submit] {
  clear: both;
  text-align: left;
  margin-left: 165px;
  display: block;
}
.label {
  width: 150px;
  text-align: right !important;
  display: block;
  float: left;
}
